<p><label for="preg" class="rem">Pregunta: </label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="<%=quiz.pregunta%>"></p>
<p><label for="res" class="rem">Respuesta: </label>
<input type="text" id="res" name="quiz[respuesta]" placeholder="<%=quiz.respuesta%>"></p>
<p><a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Crear"></p>