<form action="/quizes/<%= Quiz.id %>/answer" method="get">
    <p>Pregunta: <%= Quiz.pregunta %></p>
    <p><input type="text" name="respuesta" placeholder="Respuesta">
    <input type="submit" value="Enviar"></p>
</form>